<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Hotel Image" width="600" height="400">
    <img src="https://m.media-amazon.com/images/G/31/img21/Watches2025/SEPT/Category/Launches/Oceanynx_Men._SX1035_QL85_FMpng_.png"
</body>
</html>